[Desktop Entry]
Type=Application
Version=1.0
Name=Install MadeleineOS
Name[da]=Installer MadeleineOS
GenericName=Live Installer
GenericName[da]=Live-installationsprogram
Comment=Install the operating system to disk
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY /usr/bin/calamares_polkit %f
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;
Name[ja_JP.UTF-8]=MadeleineOSをインストール
Name[en_US.UTF-8]=Install MadeleineOS.
